{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta.title}}</title>

    <!-- SEO -->
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:type" content="{{meta.type}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:image" content="{{meta.image}}" />
    <meta property="og:url" content="{{meta.url}}" />

    <!-- CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}

    <!-- Header -->
    {% block header %} {% endblock header %}
  </head>

  <body>
    <!-- Navbar -->
    {% include 'components/navbar.html' %}
    <!-- Content -->
    {% block content %} {% endblock content %}

    <!-- JS -->
    <script src="{% static 'flowbite.min.js' %}"></script>

    {% compress js %}
    <script>
      const navbar = document.querySelector('nav')

      window.addEventListener('scroll', () => {
        console.log(window.scrollY)
        if (window.scrollY > 0) {
          navbar.classList.add('bg-blue-500') // Change the background color when scrolling down
        } else {
          navbar.classList.remove('bg-blue-500') // Remove the background color when scrolling up
        }
      })
    </script>
    {% endcompress %}

    <!-- Footer -->
    {% block footer %} {% endblock footer %}
  </body>
</html>
