{% extends "_base.html" %} {% load compress %} {% load static %}

<!-- Header -->
{% block header %}
<!-- CSS -->
{% compress css %}
<link rel="stylesheet" href="{% static 'vegas.min.css' %}" />
{% endcompress %} {% endblock header %}

<!-- Content -->
{% block content %}

<!-- Header Slider -->
<section id="hero_slider" class="h-screen w-full mx-auto mb-96"></section>

{% endblock content %}

<!-- Footer -->
{% block footer %}

<script src="http://zeptojs.com/zepto.min.js"></script>
<script src="{% static 'vegas.min.js' %}"></script>

<!-- JS -->
{% compress js %}
<script>
  $(document).ready(function () {
    $('#hero_slider').vegas({
      slides: [
        { src: "{% static '/images/banner/slide_1.jpg' %}" },
        { src: "{% static '/images/banner/slide_2.jpg' %}" },
        { src: "{% static '/images/banner/slide_3.jpg' %}" },
        { src: "{% static '/images/banner/slide_4.jpg' %}" },
      ],
      overlay: false,
      transition: 'fade2',
      animation: 'kenburnsUpRight',
      transitionDuration: 1000,
      delay: 10000,
      animationDuration: 20000,
      timer: false,
    })
  })
</script>
{% endcompress %} 

{% endblock footer %}
